<!DOCTYPE html>
<html>
  <head>
    <title>Add new message</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>New message form</h1>
    <form method="POST" action="/new">
        <p>
            <label>User name</label>
            <input name="userName">
        </p>
        <p>
            <label>Message</label>
            <input name="userMessage">
        </p>
        <button>Submit</button>
    </form>
  </body>
</html>
